.lifted{
    /* border: 1px solid black; */
    width:fit-content;
  height:100px;
  margin-top: 150px;
}
.lifted Button{
    /* border: 1px solid black; */
height: 60px;
    box-shadow: #ffffff;
    margin-right: 5px;
    padding: 6px 15px;
    font-size: 36px;
    background-color: #ffffff;
    font-weight: 600;
    color: #041628;
    font-weight: bold;
}
