video{
     position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.overlay {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox; 
  display: flex;
  flex-direction: column;
 -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
          color: white; 
}
.overlay .heading {
   
    margin: 2rem 3rem 0;
    mix-blend-mode: overlay;
    padding: 5px 15px;
    text-align: center;
    margin-top: 135px;
    font-size: 65px;
    text-shadow: 2px 2px 4px #000000;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    line-height: 1.1;
    color: white;

    margin-bottom: 50px;
    margin-top: 50px;
}

.overlay .link{
    color:white;

    font-weight: 600;
    margin: 2rem 3rem 0;
    mix-blend-mode: overlay;
    padding: 5px 15px;
    text-align: center;
}
header {
	position: fixed;
	width: 100%;
	text-align: center;
	color: white;
	-webkit-transition: .4s;
	transition: .4s;

} 
